APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=bootcampnodejssecret

# Database

DB_HOST=127.0.0.1
DB_USER=docker
DB_PASS=docker
DB_NAME=meetapp

# Mongo

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_NAME=meetapp

# Redis

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=

# Sentry
SENTRY_DSN=
