<strong>Olá {{ organizer }}!</strong>
<p>Houve uma nova inscrição no meetup {{ meetup }}, os dados do inscrito estão abaixo:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
